%section#campaign
	.container
		.row
			.col-sm-12
				%h2.text-center
					¿Qué es el Derecho a la Ciudad?
				%p
					2016 nos trae un desafío histórico. Quito reunirá a los líderes mundiales, a los gobiernos y a las principales autoridades en la próxima Conferencia de las Naciones Unidas sobre vivienda y desarrollo urbano sostenible (HABITAT III), que se llevará a cabo en octubre próximo. De esta reunión, se delineará el futuro de las ciudades donde las juventudes de hoy viviremos de aquí a los próximos 20 años. Por esto, esta fecha es también la oportunidad de convertir nuestras voces en acciones y contribuir a la agenda urbana de las próximas décadas. 
				%p
					La campaña de la Plataforma Global por el Derecho a la Ciudad te invita a discutir, exigir, reflexionar y participar, para trabajar juntXs por ciudades más inclusivas. Porque no es solo un territorio, sino el lugar donde nos desarrollamos, te invitamos a formar parte de este movimiento que busca transformar nuestros centros urbanos, para así, transformar también nuestro futuro.
				%p
					Porque No es una ciudad si no es para todxs, únete y participa para seguir construyendo el Derecho a la Ciudad, a tu ciudad.