%section#campaign
	.container{ :'ng-controller' => 'campaignCtrl' }
		.row
			.col-sm-12
				%h2.text-center{ :'ng-if' => 'idioma == 1' }
					¿Qué es el Derecho a la Ciudad?
				%h2.text-center{ :'ng-if' => 'idioma == 2' }
				%h2.text-center{ :'ng-if' => 'idioma == 3' }
				.contenido{ :'ng-repeat' => 'parrafo in parrafos' }
					%p{ :'ng-if' => 'idioma == 1' }
						{{ parrafo.gsx$esp.$t }}
					%p{ :'ng-if' => 'idioma == 2' }
						{{ parrafo.gsx$eng.$t }}
					%p{ :'ng-if' => 'idioma == 3' }
						{{ parrafo.gsx$por.$t }}
				
		%img.img-responsive.center-block{ :src => 'img/arte.png' }
