%section
	.container
		.row
			.col-sm-12
				%h2.text-center
					¿Qué es el Derecho a la Ciudad?
				%p
					El derecho a la ciudad se define como el usufructo equitativo de las ciudades dentro de los principios de sustentabilidad y justicia social. Se entiende como un derecho colectivo de los habitantes de las ciudades, en especial de los grupos empobrecidos vulnerables y desfavorecidos, que les confiere la legitimidad de acción y de organización, basado en sus usos y costumbres, con el objetivo de alcanzar el pleno ejercicio del derecho a un patrón de vida adecuado"" (Carta Mundial de Derecho a la Ciudad).
				%p
					Juntxs, buscamos una ciudad escenario que permita el disfrute y ejercicio de todos los derechos humanos y libertades fundamentales. El Derecho a la Ciudad es un derecho colectivo, que nos convoca a transformar la ciudad, hacerla nuestra."