%hr
%section#collab
	.container
		.col-sm-2.col-xs-6
			%img.img-responsive.center-block{ :src => 'img/collab/techo.png' }
		.col-sm-2.col-xs-6
			%img.img-responsive.center-block{ :src => 'img/collab/habitajes.png' }
		.col-sm-2.col-xs-6
			%img.img-responsive.center-block{ :src => 'img/collab/hic-al.png' }
		.col-sm-2.col-xs-6
			%img.img-responsive.center-block{ :src => 'img/collab/habitat.png' }
		.col-sm-2.col-xs-6
			%img.img-responsive.center-block{ :src => 'img/collab/clacso.png' }
		.col-sm-2.col-xs-6
			%img.img-responsive.center-block{ :src => 'img/collab/polis.png' }
		.col-sm-12
			%img.img-responsive.center-block.signature{ :src => 'img/collab/global.png' }