.lang
	.icon
		%i.fa.fa-language
%header
	.container
		.top.text-center
			%h1 Derecho a la Ciudad
			%h2
				%span.timer{ :'countdown' => '', :'date' => 'January 1, 2016 12:00:00' }
			.icon
				%i.fa.fa-play
			Ver video
	.bg