%section
	.container
		.row
			.col-sm-6
				%h2.text-center
					Noticias
				.text-muted.text-center
					Conoce los últimos avances hacia una nueva agenda urbana
				%ul.info{ :'ng-controller' => "newsCtrl" }
					%li{"ng-repeat" => "noticia in noticias"}
						{{ noticia.gsx$noticias.$t }}

			= partial 'partial/blog'